{% include 'parts/nav.html' %}

<!-- templates/events/event_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Détails du Rendez-vous</title>

    <style>
        .right-side {
            background-color: #F6F2F2;
            border-radius: 15px;
            height: 100vh;
            width: 81%;
            position: absolute;
            top: 131px;
            left: 17.5%;
            overflow-y:auto;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
                        4px 4px 10px rgba(0, 0, 0, 0.4),
                        6px 6px 15px rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body>

    <div class="left-side">
        {% include 'parts/button.html' %}
    </div>

    <div class="right-side">
        <h1>{{ event.title }}</h1>
        <p>Date : {{ event.start_date }}</p>
        <p>Heure : {{ event.heur }}</p>
        <p>Lieu : {{ event.lieu }}</p>
        <p>Description : {{ event.description }}</p>
        <p>Notes : {{ event.notes }}</p>

        <!-- Affichage de l'historique des actions -->
        <h2>Historique des Actions</h2>
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Effectué par</th>
                    <th>Date</th>
                    <th>Raison</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr>
                    <td>{{ history.action }}</td>
                    <td>{{ history.user.username }}</td>
                    <td>{{ history.timestamp|date:"d/m/Y H:i" }}</td>
                    <td>{{ history.reason }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Aucune action enregistrée pour cet événement.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'history_view' %}">Retour à l'historique</a>
    </div>
</body>
</html>
